body {
    background-color: #dfe9f5;
}

.navbar {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    height: 5rem;
}

.navbar-brand {
    color: #37419c;
    margin-left: 1rem;
    transition: transform 0.3s ease;
}

.navbar-brand:hover {
    color: #37419c;
    transform: scale(1.01);
}

@media (min-width: 991.98px) {
    main {
        padding-left: 240px;
    }
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 5rem 0 0;
    /* Height of navbar */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 240px;
    z-index: 1000;
}

@media (max-width: 991.98px) {
    .sidebar {
        width: 100%;
    }
}

.sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.list-group-item {
    margin-top: 1rem;
    margin-left: 1rem;
    transition: transform 0.3s ease;
}

.list-group-item:hover {
    transform: scale(1.1);
}

.nav-user {
    margin-right: 1rem;
    font-size: 20px;
    color: #37419c;
}

.nav-user i {
    padding-right: 10px;
}

.logout {
    margin-top: 0.5rem;
    margin-right: 1rem;
}