@model Presentation.ViewModels.Menu.GetUserDataViewModel;

<link rel="stylesheet" href="~/css/navbar/navbar.css" asp-append-version="true" />

@* <nav class="navbar navbar-expand-lg sticky-top mb-5">
<div class="container-fluid">

<button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarButtonsExample"
aria-controls="navbarButtonsExample" aria-expanded="false" aria-label="Toggle navigation">
<i class="fas fa-bars"></i>
</button>

<div class="collapse navbar-collapse justify-content-center" id="navbarButtonsExample">
<ul class="navbar-nav me-auto mb-2 mb-lg-0">
<li class="nav-item">
<a class="nav-link" asp-controller="Home" asp-action="Home">
<i class="fa-solid fa-house fa-sm"></i>
Home
</a>
</li>
<li class="nav-item">
<a class="nav-link" asp-controller="Order" asp-action="Orders">
<i class="fa-solid fa-clipboard-list fa-sm"></i>
Pedidos
</a>
</li>
<li class="nav-item">
<a class="nav-link" asp-controller="Meal" asp-action="Meals">
<i class="fa-solid fa-utensils fa-sm"></i>
Sabores
</a>
</li>
<li class="nav-item">
<a class="nav-link" asp-controller="Customer" asp-action="Customers">
<i class="fa-solid fa-users fa-sm"></i>
Clientes
</a>
</li>
@if (User.IsInRole("Admin") || User.IsInRole("Manager"))
{
<li class="nav-item">
<a class="nav-link" asp-controller="Company" asp-action="MyCompany">
<i class="fa-solid fa-building fa-sm"></i> Minha Empresa
</a>
</li>
}
</ul>

<div class="d-flex align-items-center">
<b id="authenticated-user-name" class="px-3 me-2 border-0 bg-transparent"
style="color: #ffffff; padding-left: 3px">
<i class="fa-solid fa-user fa-sm" style="color: #ffffff; padding-right: 10px"></i>
@Model.Name | @Model.CompanyName
</b>
<form asp-controller="Authentication" asp-action="Logout">
<button class="btn btn-danger btn-sm me-3" type="submit">
Sair
<i class="fa-solid fa-right-from-bracket fa-sm" style="color: #ffffff; padding-left: 3px"></i>
</button>
</form>
</div>
</div>
</div>
</nav> *@

<!--Main Navigation-->
<header>
    <!-- Sidebar -->
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
        <div class="position-sticky">
            <div class="mx-3 mt-4">
                <a asp-controller="Home" asp-action="Home" class="list-group-item list-group-item-action py-2 ripple">
                    <i class="fa-solid fa-house fa-fw me-3"></i><span>Home</span>
                </a>
                <a asp-controller="Order" asp-action="Orders" class="list-group-item list-group-item-action"><i
                        class="fas fa-chart-bar fa-fw me-3"></i><span>Pedidos</span></a>
                <a asp-controller="Customer" asp-action="Customers"
                    class="list-group-item list-group-item-action py-2 ripple"><i
                        class="fas fa-users fa-fw me-3"></i><span>Clientes</span></a>
                <a asp-controller="Meal" asp-action="Meals"
                    class="list-group-item list-group-item-action py-2 ripple"><i
                        class="fas fa-utensils fa-fw me-3"></i><span>Sabores</span></a>

                @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                {
                    <a asp-controller="Company" asp-action="Employees"
                        class="list-group-item list-group-item-action py-2 ripple">
                        <i class="fas fa-user-group fa-fw me-3"></i>
                        <span>Meus Funcionários</span></a>
                    <a asp-controller="Company" asp-action="MyCompany"
                        class="list-group-item list-group-item-action py-2 ripple">
                        <i class="fas fa-building fa-fw me-3"></i>
                        <span>Minha Empresa</span>
                    </a>
                }
            </div>
        </div>
    </nav>
    <!-- Sidebar -->

    <!-- Navbar -->
    <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Toggle button -->
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#sidebarMenu"
                aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <!-- Brand -->
            <a class="navbar-brand" asp-action="Home" asp-controller="Home">
                SORAYA MANAGEMENT
            </a>

            <!-- Right links -->
            <ul class="navbar-nav ms-auto d-flex flex-row">
                <!-- Avatar -->
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center nav-user">
                        <i class="fa-solid fa-user"></i>
                        <b>@Model.Name</b>
                    </a>
                    @* <spa n>@Model.CompanyName</span> *@
                </li>

                <li class="nav-item">
                    <form asp-controller="Authentication" asp-action="Logout">
                        <button class="btn btn-danger btn-sm logout" type="submit">
                            Sair
                            <i class="fa-solid fa-right-from-bracket fa-sm"
                                style="color: #ffffff; padding-left: 3px"></i>
                        </button>
                    </form>
                </li>
            </ul>
        </div>
        <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
</header>
<!--Main Navigation-->

<!--Main layout-->
<main style="margin-top: 58px;">
    <div class="container pt-4"></div>
</main>
<!--Main layout-->