@model Presentation.ViewModels.Menu.GetUserDataViewModel;

<link rel="stylesheet" href="~/css/navbar/navbar.css" asp-append-version="true" />

<!--Main Navigation-->
<header>
    <!-- Sidebar -->
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
        <div class="position-sticky">
            <div class="mx-3 mt-4">
                <a asp-controller="Home" asp-action="Home" class="list-group-item list-group-item-action py-2 ripple">
                    <i class="fa-solid fa-house fa-fw me-3"></i><span>Home</span>
                </a>
                <a asp-controller="Order" asp-action="Orders" class="list-group-item list-group-item-action"><i
                        class="fas fa-chart-bar fa-fw me-3"></i><span>Pedidos</span></a>
                <a asp-controller="Customer" asp-action="Customers"
                    class="list-group-item list-group-item-action py-2 ripple"><i
                        class="fas fa-users fa-fw me-3"></i><span>Clientes</span></a>
                <a asp-controller="Meal" asp-action="Meals"
                    class="list-group-item list-group-item-action py-2 ripple"><i
                        class="fas fa-utensils fa-fw me-3"></i><span>Sabores</span></a>

                @if (User.IsInRole("Admin") || User.IsInRole("Manager") || User.IsInRole("SuperAdmin"))
                {
                    <a asp-controller="Employee" asp-action="Employees"
                        class="list-group-item list-group-item-action py-2 ripple">
                        <i class="fas fa-user-group fa-fw me-3"></i>
                        <span>Meus Funcionários</span></a>
                    <a asp-controller="Company" asp-action="GetCompanies"
                        class="list-group-item list-group-item-action py-2 ripple">
                        <i class="fas fa-building fa-fw me-3"></i>
                        <span>Minha Empresa</span>
                    </a>
                }
            </div>
        </div>
    </nav>
    <!-- Sidebar -->

    <!-- Navbar -->
    <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
        <!-- Container wrapper -->
        <div class="container-fluid" style="background-color: #ffffff;">
            <!-- Toggle button -->
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#sidebarMenu"
                aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <!-- Brand -->
            <a class="navbar-brand" asp-action="Home" asp-controller="Home">
                SORAYA MANAGEMENT
            </a>

            <!-- Right links -->
            <ul class="navbar-nav ms-auto d-flex flex-row">
                <!-- Avatar -->
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center nav-user">
                        <i class="fa-solid fa-user"></i>
                        <b>@Model.Name</b>
                    </a>
                    @* <spa n>@Model.CompanyName</span> *@
                </li>

                <li class="nav-item">
                    <form asp-controller="Authentication" asp-action="Logout">
                        <button class="btn btn-danger btn-sm logout" type="submit">
                            Sair
                            <i class="fa-solid fa-right-from-bracket fa-sm"
                                style="color: #ffffff; padding-left: 3px"></i>
                        </button>
                    </form>
                </li>
            </ul>
        </div>
        <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
</header>
<!--Main Navigation-->

<!--Main layout-->
<main style="margin-top: 58px;">
    <div class="container pt-4"></div>
</main>
<!--Main layout-->