/* Aditional style for tables */

.styled-table {
    border-collapse: collapse;
    font-family: sans-serif;
    min-width: 400px;
    border-collapse: separate;
    border-spacing: 0 1em;
    --bs-table-bg: transparent
}

.styled-table caption {
    color: grey;
    font-weight: bolder;
    font-size: 14px;
}

.styled-table thead {
    background-color: transparent;
    --bs-table-bg: transparent;
}

.styled-table thead tr {
    text-align: center;
}

.styled-table thead th {
    color: #4D59CB;
    font-size: 17px;
    font-weight: bold;
}

.styled-table th {
    border-style: hidden;
    padding: 10px;
}

.styled-table td {
    padding: 35px;
    height: fit-content;
    border-style: hidden;
    font-weight: bolder;
    color: #252525;
}

.styled-table tbody tr {
    text-align: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    background-color: white;
    transition: transform 0.3s ease;
}

.styled-table tbody tr:hover {
    transform: scale(1.01);
}

.table-group-divider {
    color: transparent;
}

.status {
    padding: .2rem 0;
    border-radius: 1rem;
    text-align: center;
    font-size: 15px;
}

.status.paid {
    background-color: #86e49d;
    color: #006b21;
}

.status.pending {
    color: #6b5200;
    background-color: #eb9a74;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.fade-in {
    animation: fadeIn 0.5s ease;
}

.fade-out {
    animation: fadeOut 0.5s ease;
    opacity: 0;
}

.no-orders-found {
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.no-orders-found h4 {
    color: #4D59CB;
    font-weight: bolder;
    font-size: 18px;
}

.no-orders-found h4 a {
    color: #30377a;
}

.no-orders-found img {
    width: 15rem;
    margin-bottom: 2rem;
}

.current-and-total-pages {
    margin-left: 1rem;
    margin-top: 0.15rem;
    margin-right: 1rem;
}

.current-and-total-pages span {
    font-size: 17px;
}

.styled-table .small {
    width: 50px;
    border-collapse: separate;
    border-spacing: 0 0.5em;
    background-color: red;
}