@model Application.DTOs.Authentication.RegisterUserDto;

@{
    ViewData["Title"] = "Cadastro";
    Layout = "_Layout";
}

<section class="container">

    <form asp-action="Register" asp-antiforgery="true">

        <div class="form-control">
            <div class="mb-3">
                <label class="form-label">Nome Completo</label>
                <input class="form-control" asp-for="Name" />
                <span class="text-danger fw-bolder sm" asp-validation-for="Name"></span>
            </div>

            <div class="mb-3">
                <label class="form-label">Nome de Usuário</label>
                <input class="form-control" asp-for="Username" />
                <span class="text-danger fw-bolder sm" asp-validation-for="Username"></span>
            </div>

            <div class="mb-3">
                <label class="form-label">Email</label>
                <input class="form-control" asp-for="Email" type="email" />
                <span class="text-danger fw-bolder sm" asp-validation-for="Email"></span>
            </div>

            <div class="mb-3">
                <label class="form-label">Senha</label>
                <input class="form-control" asp-for="Password" type="password" />
                <span class="text-danger fw-bolder sm" asp-validation-for="Password"></span>
            </div>

            <div class="mb-3">
                <label class="form-label">Confirmar Senha</label>
                <input class="form-control" asp-for="ConfirmPassword" type="password" />
                <span class="text-danger fw-bolder sm" asp-validation-for="ConfirmPassword"></span>
            </div>

            <button type="submit" class="btn btn-sm btn-primary">Cadastrar</button>
        </div>

    </form>

</section>