@{
    ViewData["Title"] = "Minha Empresa";
    Layout = "_Layout";
}

@await Component.InvokeAsync("Menu")

<section class="container">

    <div>
        <a class="btn btn-primary-custom btn-lg" asp-controller="Employee" asp-action="Employees">
            Funcionários
        </a>
    </div>

    <div>
        <a class="btn btn-primary-custom btn-lg">
            Perfil da Empresa
        </a>
    </div>

</section>