@model Presentation.ViewModels.User.DetailUserViewModel;

@{
    ViewData["Title"] = "Funcion치rio - ";
    Layout = "_Layout";
}

@await Component.InvokeAsync("Menu")

<link rel="stylesheet" href="~/css/details/details.css" asp-append-version="true" />

<section class="container">

    <div class="details-page-title">
        <h2>Perfil do Funcion치rio - <b>@Model.Name</b></h2>
    </div>

    <div class="main-details">
        <h3>Dados do Funcion치rio</h3>
        <div class="main-details-content">
            <p><span class="vertical-bar">|</span> Nome: <b>@Model.Name</b></p>
            <p><span class="vertical-bar">|</span> Usu치rio: <b>@Model.Username</b></p>
            <p><span class="vertical-bar">|</span> E-mail: <b>@Model.Email</b></p>
        </div>
    </div>

    <div class="custom-card">
        <a class="btn btn-primary" asp-action="Update" asp-controller="User">
            <i class="fa-solid fa-pen" style="color: #ffffff; padding-right: 4px;"></i> <b>Atualizar Dados</b>
        </a>
    </div>

</section>