@model List<SorayaManagement.ViewModels.GetUserViewModel>;

@{
    ViewData["Title"] = "Funcion치rios";
    Layout = "_Layout";
}

@await Component.InvokeAsync("Menu")


<section class="container">

    <a class="btn btn-primary-custom btn-lg mb-3" asp-controller="Company" asp-action="RegisterEmployee">
        + Novo Funcion치rio
    </a>

    <hr>

    <table class="table styled-table">
        <caption>Total de funcion치rio encontrados: <b>@Model.Count</b></caption>
        <thead>
            <tr>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Nome de Usu치rio</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Name</td>
                    <td>@user.Email</td>
                    <td>@user.Username</td>
                </tr>
            }
        </tbody>
    </table>

</section>
