@using Application.DTOs.Company.Response;
@model IEnumerable<CompanyDTO>;

@{
    var companies = Model;
    Layout = "_Layout";
}

<section>
    <h1 class="text-3xl font-bold mb-6">Empresas</h1>

    <div class="grid grid-cols-1 lg:grid-cols-1 gap-6">
        <div class="bg-white p-4 shadow rounded-lg">
            <div class="flex justify-between items-center">
                <div>
                    <a asp-controller="Company" asp-action="Create"
                        class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded">
                        + Cadastrar Empresa
                    </a>
                </div>

                <div>
                    <label for="table-search" class="sr-only">Search</label>
                    <div class="relative">
                        <div
                            class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
                            <svg class="w-4 h-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                fill="none" viewBox="0 0 20 20">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                            </svg>
                        </div>
                        <input type="text"
                            class="block p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500"
                            placeholder="Buscar por empresa">
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-white p-6 rounded-lg shadow-lg">
            <div class="relative overflow-x-auto">
                <table class="w-full text-sm text-left rtl:text-right text-gray-500">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-100">
                        <tr>
                            <th scope="col" class="px-6 py-3 rounded-s-lg">
                                Nome
                            </th>
                            <th scope="col" class="px-6 py-3">
                                CNPJ
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Funcionários Ativos
                            </th>
                            <th scope="col" class="px-6 py-3 rounded-e-lg">
                                Ações
                            </th>
                        </tr>
                    </thead>

                    @if (!companies.Any())
                    {
                        <tbody>
                            <tr>
                                <td colspan="7" class="text-center p-6">
                                    <p class="text-gray-500 text-lg mt-4">Nenhuma empresa encontrado</p>
                                </td>
                            </tr>
                        </tbody>
                    }
                    else
                    {
                        <tbody>
                            @foreach (var company in companies)
                            {
                                <tr class="bg-white">
                                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                                        @company.Name
                                    </th>
                                    <td class="px-6 py-4">
                                        @company.CNPJ
                                    </td>
                                    <td class="px-6 py-4">
                                        @* @company *@
                                    </td>
                                    <td scope="row" class="flex gap-10 px-6 py-4">
                                        <a class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded">
                                            Detalhes
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    }
                </table>
            </div>
        </div>
</section>