@model Presentation.ViewModels.Meal.CreateMealViewModel;

@{
    ViewData["Title"] = "Novo Sabor";
    Layout = "_Layout";
}

@await Component.InvokeAsync("Menu")

<link rel="stylesheet" href="~/css/create/create.css" asp-append-version="true" />

<section class="container-fluid" style="margin-top: -1.9rem; margin-bottom: -2rem; padding: 4rem;">

    <section class="create-form container">

        <div class="custom-card create-page-title">
            <div class="row">
                <div class="col-md-6">
                    <h4>Cadastre um novo Sabor</h4>
                </div>
                <div class="col-md-6 text-end">
                    <h4>
                        <i class="fa-solid fa-utensils fa-lg"></i>
                    </h4>
                </div>
            </div>
        </div>

        <form asp-action="Create" asp-antiforgery="true">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <section class="custom-card">

                <div class="form-outline mb-4">
                    <i class="fa-solid fa-utensils fa-sm"></i>
                    <label class="form-label fw-bolder">Sabor</label>
                    <input class="form-control form-control-lg" asp-for="Description"
                        placeholder="Descrição do Sabor" />
                    <span class="text-danger fw-bolder sm" asp-validation-for="Description"></span>
                </div>

                <div class="form-outline mb-4">
                    <i class="fa-solid fa-bowl-food"></i>
                    <label class="form-label fw-bolder">Acompanhamentos (Opcional)</label>
                    <textarea class="form-control form-control-lg" asp-for="Accompaniments"
                        placeholder="O que esse sabor acompanha?"></textarea>
                    <span class="text-danger fw-bolder sm" asp-validation-for="Accompaniments"></span>
                </div>

                <partial name="../Shared/Partials/_Messages.cshtml" />

                <div class="pt-1">
                    <button class="btn btn-primary-custom" type="submit" style="margin-right: 20px;">
                        <i class="fa-solid fa-check fa-lg" style="color: #ffffff; padding-right: 4px;"></i> Salvar
                    </button>
                </div>

            </section>

            <div class="pt-1">
                <a asp-controller="Meal" asp-action="Meals" class="btn btn-warning pt-1">
                    <i class="fa-solid fa-arrow-left fa-lg" style="color: #ffffff; padding-right: 4px;"></i>
                    <b>Voltar</b>
                </a>
            </div>
        </form>

    </section>
</section>