@model List<Presentation.ViewModels.Meal.GetMealViewModel>;

@{
    ViewData["Title"] = "Clientes";
    Layout = "_Layout";
}

@await Component.InvokeAsync("Menu")

<section class="container">

    <div class="custom-card page-title text-center">
        <h3 class="fw-bolder">
            Sabores
        </h3>
    </div>

    <section class="custom-card">
        <div class="row mb-4 mt-4">
            <div class="col-md-4" style="padding-top: 20px">
                <a class="btn btn-primary-custom btn-lg" asp-controller="Meal" asp-action="Create">
                    + Novo Sabor
                </a>
            </div>

            <div class="col-md-8 row justify-content-end">
                <div class="col-md-6">
                    <i class="fa-solid fa-magnifying-glass fa-sm" style="padding-right: 5px;"></i>
                    <label for="isActive-filter" class="form-label fw-thin">BUSCAR:</label>
                    <input id="search-customer-filter" class="form-control" placeholder="Busque por um sabor" />
                </div>
            </div>
        </div>

        @if (Model.Count > 0)
        {
            <table class="table styled-table">
                <caption class="styled-table-caption">Total de sabores encontrados: <b>@Model.Count</b></caption>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Descrição do Sabor</th>
                        <th>Acompanhamentos</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var meal in Model.ToList())
                    {
                        <tr>
                            <td style="max-width: 50px;">
                                <a type="button" asp-controller="Meal" asp-action="Details" asp-route-mealId="@meal.Id">
                                    <i class="fa-solid fa-circle-info fa-lg"></i>
                                </a>
                            </td>
                            <td>@meal.Description</td>
                            <td>@meal.Accompaniments</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="no-orders-found">
                <img src="~/img/nao-encontrado.png">
                <h4>Nenhum sabor encontrado. <a asp-controller="Meal" asp-action="Create">Clique aqui</a>
                    para cadastrar um novo sabor.</h4>
            </div>
        }

    </section>
</section>
