@model SorayaManagement.ViewModels.CreateMealViewModel;

@{
    ViewData["Title"] = "Novo Sabor";
    Layout = "_Layout";
}

@await Component.InvokeAsync("Menu")

<section class="container">

    <form asp-action="Create" asp-antiforgery="true">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Adicione um novo sabor</h5>

        <div class="form-outline mb-4">
            <label class="form-label fw-bolder">Sabor</label>
            <input class="form-control form-control-lg" asp-for="Description" />
            <span class="text-danger fw-bolder sm" asp-validation-for="Description"></span>
        </div>

        <div class="form-outline mb-4">
            <label class="form-label fw-bolder">Acompanhamentos</label>
            <input class="form-control form-control-lg" asp-for="Accompaniments" />
            <span class="text-danger fw-bolder sm" asp-validation-for="Accompaniments"></span>
        </div>

        <partial name="../Shared/Partials/_Messages.cshtml" />

        <div class="pt-1 mb-4">
            <button class="btn btn-success btn-block" type="submit">Salvar</button>
        </div>
    </form>

    <a asp-area="" asp-controller="Meal" asp-action="Meals"><button
            class="btn btn-warning btn-block">Voltar</button></a>

</section>