* {
    font-family: 'Merriweather Sans', sans-serif;
}

body {
    background-color: #f0f0f0;
}

/* Navbar Section */

p {
    margin: 0;
    background-color: inherit;
}

a {
    color: currentColor;
    text-decoration: none;
}

.navbar {
    background-color: #1d5348 !important;
    color: #1d5348 !important;
    height: 80px;
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    border-radius: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.navbar .navbar-brand {
    color: #ededed;
    font-weight: bolder;
    font-size: 1.3em;
}

.nav-link {
    position: relative;
    color: #ededed;
    font-weight: bolder;
}

.nav-link:hover {
    color: #ededed;
}

.nav-link:after {
    color: #ededed;
    content: '';
    opacity: 0;
    transition: all 0.2s;
    height: 2px;
    width: 100%;
    background-color: #009879;
    position: absolute;
    bottom: 0;
    left: 0;
}

.nav-link:hover::after {
    opacity: 1;
}

.box-orders {
    background-color: #1d5348;
    /* border: 3px solid #252525; */
    padding: 10px;
    text-align: center;
    width: 175px;
    height: 120px;
    margin: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box-orders h2 {
    font-weight: bolder;
    color: #efefef;
}

.box-orders p {
    color: #efefef;
    font-weight: bolder;
}

/* Styled Table Section */

.styled-table {
    border-collapse: collapse;
    font-family: sans-serif;
    min-width: 400px;
    border-collapse: separate;
    border-spacing: 0 1em;
    --bs-table-bg: transparent
}

.styled-table thead {
    background-color: transparent;
    --bs-table-bg: transparent;
}

.styled-table thead tr {
    text-align: center;
}

.styled-table thead th {
    color: rgb(161, 161, 161);
}

.styled-table th {
    border-style: hidden;
    padding: 10px;
}

.styled-table td {
    padding: 35px;
    height: fit-content;
    border-style: hidden;
    font-weight: bolder;
    color: #252525;
}

.styled-table tbody tr {
    text-align: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    background-color: white;
}

.table-group-divider {
    color: transparent;
}

/* Some Elements */

.btn-primary-custom {
    color: #ffffff;
    background-color: #009879;
    font-weight: bolder;
}

.btn-primary-custom:active {
    background-color: #009879;
}

.btn-primary-custom:hover {
    color: #ffffff;
    background-color: #3c9482
}

.fa-user {
    color: #ffffff;
}

#authenticated-user-name {
    color: #ffffff;
}

.fa-circle-info {
    color: #386d63;
}

.payment-type-icons {
    width: 25px;
    margin-right: 10px;
    color: #386d63;
    background-color: #ffffff;
}

#isPaidIcon {
    color: #386d63;
}