@model Presentation.ViewModels.Order.CreateOrderViewModel;

@{
    var order = Model;
    var dropdown = order.CreateOrderDropdown;
    ViewData["Title"] = "Novo Pedido";
    Layout = "_Layout";
}

<section>
    <div class="mb-8 flex">
        <a asp-controller="Order" asp-action="Orders"
           class="flex gap-2 shadow bg-blue-700 hover:bg-blue-500 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded">

            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="fill-white mt-1">
                <path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z" />
            </svg>

            Voltar
        </a>
    </div>

    <h1 class="text-3xl font-bold mb-6">Cadastrar Pedido</h1>

    <div class="p-8 mt-6 lg:mt-0 rounded shadow bg-white">
        <form asp-controller="Order" asp-action="Create" class="max-w">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="md:flex mb-6">
                <div class="md:w-1/3">
                    <label for="customer-dynamic-select"
                           class="block text-gray-600 font-bold md:text-left mb-3 md:mb-0 pr-4">
                        Selecione um Cliente
                    </label>
                </div>

                <div class="md:w-2/3">
                    <select asp-for="CustomerId" id="customer-dynamic-select" style="width: 100%;"
                            class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                    </select>
                </div>
            </div>

            <div class="md:flex mb-6">
                <div class="md:w-1/3">
                    <label for="dynamic-select"
                           class="block text-gray-600 font-bold md:text-left mb-3 md:mb-0 pr-4">
                        Selecione um Sabor
                    </label>
                </div>

                <div class="md:w-2/3">
                    <select asp-for="MealId" id="dynamic-select" style="width: 100%;"
                            class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                    </select>
                </div>
            </div>

            <div class="md:flex mb-6">
                <div class="md:w-1/3">
                    <label class="block text-gray-600 font-bold md:text-left mb-3 md:mb-0 pr-4" for="my-select">
                        Selecione uma Forma de Pagamento
                    </label>
                </div>
                <div class="md:w-2/3">
                    @Html.DropDownListFor(model => model.PaymentTypeId, new
                             SelectList(dropdown.PaymentTypes, "Id",
                             "Description")
                             , new { @class = "shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" })
                    @* <p class="py-2 text-sm text-gray-600">add notes about populating the field</p> *@
                </div>
            </div>

            <div class="md:flex mb-6">
                <div class="md:w-1/3">
                    <label class="block text-gray-600 font-bold md:text-left mb-3 md:mb-0 pr-4" for="my-textfield">
                        Valor do Pedido
                    </label>
                </div>
                <div class="md:w-2/3">
                    <div class="flex">
                        <span class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border border-e-0 border-gray-300
                    rounded-s-md">
                            R$
                        </span>
                        <input asp-for="Price" type="text" placeholder="00,00" id="price" value="" class="rounded-none rounded-e-lg bg-gray-50 border
                        border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm p-2.5">
                    </div>
                </div>
            </div>

            <div class="md:flex mb-6">
                <div class="md:w-1/3">
                    <label class="block text-gray-600 font-bold md:text-left mb-3 md:mb-0 pr-4" for="description">
                        Observação (opcional)
                    </label>
                </div>
                <div class="md:w-2/3">
                    <textarea asp-for="Description" class="rounded bg-gray-50 border border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm p-2.5" id="description" value="" rows="8"></textarea>
                    <p class="py-2 text-sm text-gray-600">Adicione uma descrição para o pedido (opcional)</p>
                </div>
            </div>

            <div class="md:flex md:items-center">
                <div class="md:w-1/3"></div>
                <div class="md:w-2/3">
                    <button class="shadow bg-green-700 hover:bg-green-500 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                            type="submit">
                        Salvar Pedido
                    </button>
                </div>
            </div>
        </form>
    </div>

</section>

<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script>
    $(document).ready(function () {
        $('#dynamic-select').select2({
            language: {
                inputTooShort: function () {
                    return "Insira 2 ou mais caracteres...";
                }
            },
            placeholder: 'Digite para buscar...',
            minimumInputLength: 2,
            ajax: {
                url: '/sabores/buscar',
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        name: params.term
                    };
                },
                processResults: function (response) {
                    return {
                        results: response.data.map(function (item) {
                            console.log(item)

                            return {
                                id: item.id,
                                text: item.id + " - " + item.description
                            };
                        })
                    };
                },
                cache: true
            }
        });
    });
</script>

<script>
    $(document).ready(function () {
        $('#customer-dynamic-select').select2({
            language: {
                inputTooShort: function () {
                    return "Insira 2 ou mais caracteres...";
                }
            },
            placeholder: 'Digite para buscar...',
            minimumInputLength: 2,
            ajax: {
                url: '/clientes/buscar',
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        name: params.term
                    };
                },
                processResults: function (response) {
                    return {
                        results: response.data.map(function (item) {
                            console.log(item)

                            return {
                                id: item.id,
                                text: item.id + " - " + item.name
                            };
                        })
                    };
                },
                cache: true
            }
        });
    });
</script>