@model Presentation.ViewModels.Order.UpdateOrderViewModel;

@{
    ViewData["Title"] = $"Editar Pedido - N° {@Model.Id}";
    Layout = "_Layout";
}

@await Component.InvokeAsync("Menu")


<link rel="stylesheet" href="~/css/create/create.css" asp-append-version="true" />

<section class="container">

    <section class="create-form container">

        <div class="custom-card create-page-title">
            <h4>Editar Pedido</h4>
            <span>N° @Model.Id</span>
        </div>

        <form asp-action="Update" asp-antiforgery="true">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <section class="custom-card">

                <div class="row">
                    <div class="form-outline mb-4">
                        <i class="fa-solid fa-file-lines fa-sm"></i>
                        <label class="form-label fw-bolder">Descrição do Pedido (Não obrigatório)</label>
                        <textarea class="form-control form-control-lg" asp-for="Description"
                            placeholder="Adicione uma descrição para o pedido.">
                        </textarea>
                        <span class="text-danger fw-bolder sm" asp-validation-for="Description"></span>
                    </div>

                    <div class="form-outline mb-4 row">
                        <div class="col-md-10">
                            <i class="fa-solid fa-user fa-sm"></i>
                            <label class="form-label fw-bolder">Cliente</label>
                            @Html.DropDownListFor(model => model.CustomerId, new
                                     SelectList(Model.CreateOrderDropdown.Customers, "Id",
                                     "Name")
                                     , new { @class = "form-control form-control-lg" })
                        </div>
                        <div class="col-md-2" style="padding-top: 2.3em">
                            <a class="btn btn-primary-custom" asp-controller="Customer" asp-action="Create">+ Adicionar
                                Cliente</a>
                        </div>
                    </div>

                    <div class="form-outline mb-4 row">
                        <div class="col-md-10">
                            <i class="fa-solid fa-utensils fa-sm"></i>
                            <label class="form-label fw-bolder">Sabor da Quentinha</label>
                            @Html.DropDownListFor(model => model.MealId, new
                                     SelectList(Model.CreateOrderDropdown.Meals, "Id",
                                     "Description")
                                     , new { @class = "form-control form-control-lg" })
                        </div>
                        <div class="col-md-2" style="padding-top: 2.3em">
                            <a class="btn btn-primary-custom" asp-controller="Meal" asp-action="Create">+ Adicionar
                                Sabor</a>
                        </div>
                    </div>

                    <div class="form-outline mb-4 col-md-4">
                        <i class="fa-solid fa-dollar-sign fa-sm"></i>
                        <label class="form-label fw-bolder">Valor</label>
                        <div class="input-group">
                            <span class="input-group-text">R$</span>
                            <input class="form-control form-control-lg" asp-for="Price" placeholder="0.00">
                        </div>
                        <span class="text-danger fw-bolder sm" asp-validation-for="Price"></span>
                    </div>

                    <div class="form-outline mb-4 col-md-4">
                        <i class="fa-solid fa-money-bill-wave fa-sm"></i>
                        <label class="form-label fw-bolder">Forma de Pagamento</label>
                        @Html.DropDownListFor(model => model.PaymentTypeId, new
                                 SelectList(Model.CreateOrderDropdown.PaymentTypes, "Id",
                                 "Description")
                                 , new { @class = "form-control form-control-lg" })
                    </div>
                </div>

                <div class="row">
                    <style>
                        .custom-switch {
                            transform: scale(2);
                            margin: 14px;
                        }

                        .form-switch .form-check-input {
                            height: 1em;
                            margin-left: -1.5em;
                        }

                        .form-check-input:checked {
                            background-color: #009879;
                            border-color: #009879;
                        }
                    </style>

                    @if (Model.IsPaid)
                    {
                        <div class="form-outline mb-4 col-md-4">
                            <i class="fa-solid fa-square-check"></i>
                            <label class="form-label fw-bolder">Pagamento Realizado</label>
                            <div class="form-check form-check-lg form-switch custom-switch-div">
                                <input class="form-check-input custom-switch" type="checkbox" role="switch"
                                    asp-for="IsPaid">
                            </div>
                        </div>

                        <div class="form-outline mb-4 col-md-4">
                            <i class="fa-regular fa-calendar-check"></i>
                            <label class="form-label fw-bolder">Pago em</label>
                            <div class="input-group">
                                <input class="form-control form-control-lg" asp-for='PaidAt.Value' disabled>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="form-outline mb-4 col-md-4">
                            <i class="fa-solid fa-square-check"></i>
                            <label class="form-label fw-bolder">Pagamento Realizado</label>
                            <div class="form-check form-check-lg form-switch">
                                <input class="form-check-input custom-switch" type="checkbox" role="switch"
                                    asp-for="IsPaid">
                            </div>
                        </div>
                    }
                </div>

                <partial name="../Shared/Partials/_Messages.cshtml" />

                <div class="pt-1 mt-4">
                    <button class="btn btn-primary-custom" type="submit" style="margin-right: 20px;">
                        <i class="fa-solid fa-check fa-lg" style="color: #ffffff; padding-right: 4px;"></i> Editar
                    </button>
                </div>

            </section>

            <div class="pt-1">
                <a asp-controller="Order" asp-action="Orders" class="btn btn-warning pt-1">
                    <i class="fa-solid fa-arrow-left fa-lg" style="color: #ffffff; padding-right: 4px;"></i>
                    <b>Voltar</b>
                </a>
            </div>

        </form>
    </section>
</section>