@model List<Presentation.ViewModels.Customer.GetCustomerViewModel>;

@{
    ViewData["Title"] = "Clientes";
    Layout = "_Layout";
}

@await Component.InvokeAsync("Menu")

<script type="module" src="~/js/customers/customersFiltersImport.js"></script>
<script type="module" src="~/js/utils/pagination.js"></script>

<section class="container-fluid" style="margin-top: -1.9rem; margin-bottom: -2rem; padding: 4rem;">

    <div class="custom-card page-title text-center">
        <div class="mb-1">
            <i class="fa-solid fa-users fa-lg"></i>
        </div>
        <h3>
            Clientes
        </h3>
    </div>

    <section class="custom-card">
        <div class="row mb-4 mt-4">
            <div class="col-md-4" style="padding-top: 20px">
                <a class="btn btn-primary-custom btn-lg" asp-controller="Customer" asp-action="Create">
                    + Novo Cliente
                </a>
            </div>

            <div class="col-md-8 row justify-content-end">
                <div class="col-md-4">
                    <i class="fa-solid fa-magnifying-glass fa-sm" style="padding-right: 5px;"></i>
                    <label for="isActive-filter" class="form-label fw-thin">BUSCAR:</label>
                    <input id="search-customer-filter" class="form-control" placeholder="Busque pelo nome" />
                </div>

                <div class="col-md-4">
                    <i class="fa-solid fa-check fa-sm" style="padding-right: 5px;"></i>
                    <label for="isActive-filter" class="form-label fw-thin">ATIVO:</label>
                    <select id="isActive-filter" name="isActive-filter" class="form-select form-select "
                        style="width: 250px;">
                        <option value="all">Todos</option>
                        <option value="actives">Ativos</option>
                        <option value="inactives">Inativos</option>
                    </select>
                </div>
            </div>
        </div>

        @if (Model.Count > 0)
        {
            <table class="styled-table table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nome do Cliente</th>
                        <th>Telefone do Cliente</th>
                        <th>Qtd. Pedidos</th>
                        <th>Ativo</th>
                    </tr>
                </thead>
                <tbody id="customers-tableBody">
                    @foreach (var customer in Model)
                    {
                        <tr class="table-row">
                            <td style="max-width: 50px;">
                                <a type="button" asp-controller="Customer" asp-action="Detail"
                                    asp-route-customerId="@customer.Id">
                                    <i class="fa-solid fa-circle-info fa-lg"></i>
                                </a>
                            </td>
                            <td>@customer.Name</td>

                            @if (customer.Phone == null)
                            {
                                <td style="color: red">Não Informado</td>
                            }
                            else
                            {
                                <td>@customer.Phone</td>
                            }

                            <td>
                                <b style="color: #37419c;">@customer.OrdersCount</b> pedidos
                            </td>

                            @if (customer.IsActive)
                            {
                                <td>
                                    <i id="isActive-icon" class="fa-solid fa-square-check fa-xl" style="color: #2ead3d;"></i>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <i class="fa-solid fa-rectangle-xmark fa-xl" style="color: #d02525;"></i>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>

            <div class="pagination justify-content-center">
                <button id="previousPage" class="btn btn-primary-custom btn-sm previous-page">
                    <i class="fa-solid fa-chevron-left" style="color: #ffffff;"></i>
                </button>

                <div class="current-and-total-pages">
                    <span id="currentPage" class="current-page-filter">Página 1 </span>
                    <span id="totalPages" class="total-page-filter"> de 1</span>
                </div>

                <button id="nextPage" class="btn btn-primary-custom btn-sm ">
                    <i class="fa-solid fa-chevron-right" style="color: #ffffff;"></i>
                </button>
            </div>
        }
        else
        {
            <div class="no-orders-found">
                <img src="~/img/nao-encontrado.png">
                <h4>Nenhum cliente encontrado. <a asp-controller="Customer" asp-action="Create">Clique aqui</a>
                    para cadastrar um novo cliente.</h4>
            </div>
        }
    </section>

</section>