@model Presentation.ViewModels.Customer.DetailCustomerViewModel;

@{
    ViewData["Title"] = "Novo Cliente";
    Layout = "_Layout";
}

@await Component.InvokeAsync("Menu")

<section class="container">

    <div>
        <h2 class="fw-normal" style="letter-spacing: 1px;">Cliente <b>N° @Model.Id</b></h2>
        <hr>
        <br>
    </div>

    <h3>Dados do Cliente</h3>
    <br>

    @foreach (var order in Model.Orders)
    {
        <p>@order.Description</p>
    }


</section>