@model Presentation.ViewModels.Customer.UpdateCustomerViewModel;

@{
    ViewData["Title"] = "Editar Cliente - " + Model.Name;
    Layout = "_Layout";
}

@await Component.InvokeAsync("Menu")

<link rel="stylesheet" href="~/css/create/create.css" asp-append-version="true" />

<section class="container">

    <section class="create-form container">

        <div class="custom-card create-page-title">
            <h4>Editar Cliente</h4>
            <span>N° @Model.Id</span>
        </div>

        <form asp-action="Update" asp-antiforgery="true">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <section class="custom-card">
                <div class="form-outline mb-4">
                    <i class="fa-solid fa-user fa-sm"></i>
                    <label class="form-label fw-bolder">Nome do Cliente</label>
                    <input class="form-control form-control-lg" asp-for="Name" />
                    <span class="text-danger fw-bolder sm" asp-validation-for="Name"></span>
                </div>

                <div class="form-outline mb-4">
                    <i class="fa-solid fa-phone fa-sm"></i>
                    <label class="form-label fw-bolder">Telefone do Cliente</label>
                    <input id="customerPhoneInput" type="text" class="form-control form-control-lg" asp-for="Phone"
                        maxlength="16" />
                    <span class="text-danger fw-bolder sm" asp-validation-for="Phone"></span>
                </div>

                <script src="~/js/utils/formatPhoneNumber.js"></script>

                <partial name="../Shared/Partials/_Messages.cshtml" />

                <div class="pt-1 mb-4">
                    <button class="btn btn-primary-custom" type="submit" style="margin-right: 20px;">
                        <i class="fa-solid fa-check fa-lg" style="color: #ffffff; padding-right: 4px;"></i>
                        Salvar
                    </button>
                </div>

            </section>

            <div class="pt-1">
                <a asp-controller="Customer" asp-action="Details" asp-route-customerId="@Model.Id"
                    class="btn btn-warning pt-1">
                    <i class="fa-solid fa-arrow-left fa-lg" style="color: #ffffff; padding-right: 4px;"></i>
                    <b>Voltar</b>
                </a>
            </div>

        </form>
    </section>
</section>