@model SorayaManagement.ViewModels.CreateCustomerViewModel;

@{
    ViewData["Title"] = "Novo Cliente";
    Layout = "_Layout";
}

@await Component.InvokeAsync("Menu")

<section class="container">

    <form asp-action="Create" asp-antiforgery="true">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <h5 class="fw-normal" style="letter-spacing: 1px;">Adicione um novo cliente</h5>
        <hr>
        <br>

        <div class="form-outline mb-4">
            <label class="form-label fw-bolder">Nome do Cliente</label>
            <input class="form-control form-control-lg" asp-for="Name" />
            <span class="text-danger fw-bolder sm" asp-validation-for="Name"></span>
        </div>

        <partial name="../Shared/Partials/_Messages.cshtml" />

        <div class="pt-1 mb-4">
            <button class="btn btn-success btn-block" type="submit">Salvar</button>
        </div>
    </form>

    <a asp-controller="Customer" asp-action="Customers" class="btn btn-warning btn-block">Voltar</a>

</section>