/* Aditional style for details pages (Detail Order, Detail Customer, Detail Meal...) */

/* Page Title Section */

.details-page-title {
    text-align: center;
    font-weight: normal;
    background-color: #fafafa;
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: -1rem;
    margin-top: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

    .details-page-title h2 {
        letter-spacing: 1px;
    }

    .details-page-title b {
        color: #37419c;
    }

/* Main Details Section */

.main-details {
    margin-top: 2em;
    margin-bottom: 1em;
    font-size: 20px;
    background-color: #fafafa;
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.main-details h3 {
    font-weight: bold;
    color: #37419c;
}

.main-details p {
    font-size: 18px;
    padding-left: 1rem;
    position: relative;
    color: grey;
}

.main-details b {
    font-size: 20px;
    color: #37419c;
}

.vertical-bar {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 4px;
    color: #37419c;
    background-color: #37419c;
    content: '';
}

/* Orders Section */

.orders-details {
    background-color: #fafafa;
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.details-title {
    text-align: center;
}

    .details-title h3 {
        font-weight: bold;
        color: #37419c;
        text-align: center;
    }

    .details-title span {
        font-style: italic;
        color: grey;
        font-size: 15px;
    }
